@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Movie
@{
    ViewBag.Title = "Movie Details";
}
<h1>Med Manager Access</h1>
Name:@Model.Name
<br />
Movie Star:@Model.MovieStar
<br />
Movie Length:@Model.MovieLength
<br />
Movie Category:@Model.Category
<br />
Publish Date:@Model.PublishDate
<br />
Movie Rate:@Model.Rate
<br />
Movie Category:@Model.Category
<br />